# Server Configuration
PORT=8001
API_VERSION=1

# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY

# AWS Cognito Configuration 
COGNITO_USER_POOL_ID=COGNITO_USER_POOL_ID
COGNITO_CLIENT_ID=COGNITO_CLIENT_ID
COGNITO_CLIENT_SECRET=COGNITO_CLIENT_SECRET

# OIDC Configuration
COGNITO_ISSUER_URL=COGNITO_ISSUER_URL
COGNITO_REDIRECT_URI=COGNITO_REDIRECT_URI
COGNITO_LOGOUT_URI=COGNITO_LOGOUT_URI
COGNITO_USER_POOL_DOMAIN=COGNITO_USER_POOL_DOMAIN

# Session Configuration
SESSION_SECRET=SESSION_SECRET
